.home {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  

.home .left {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home .right {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .idBox {
    align-items: center;
    display: flex;
    flex-direction: column;

  }